<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FarmerList</servlet-name>
        <servlet-class>servlet.database.FarmerList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Overview</servlet-name>
        <servlet-class>servlet.monitoring.Overview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Municipal</servlet-name>
        <servlet-class>servlet.monitoring.Municipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MunicipalDetails</servlet-name>
        <servlet-class>servlet.monitoring.MunicipalDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Program</servlet-name>
        <servlet-class>servlet.program.Program</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramDetails</servlet-name>
        <servlet-class>servlet.program.ProgramDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Intervention</servlet-name>
        <servlet-class>servlet.program.Intervention</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FarmerList</servlet-name>
        <url-pattern>/FarmerList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Overview</servlet-name>
        <url-pattern>/Overview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Municipal</servlet-name>
        <url-pattern>/Municipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MunicipalDetails</servlet-name>
        <url-pattern>/MunicipalDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Program</servlet-name>
        <url-pattern>/Program</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgramDetails</servlet-name>
        <url-pattern>/ProgramDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Intervention</servlet-name>
        <url-pattern>/Intervention</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
