<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MobileLogin</servlet-name>
        <servlet-class>servlet.mobile.MobileLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileDatabaseSync</servlet-name>
        <servlet-class>servlet.mobile.MobileDatabaseSync</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebLogin</servlet-name>
        <servlet-class>servlet.web.WebLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProblemLog</servlet-name>
        <servlet-class>servlet.web.ProblemLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProvinceStatus</servlet-name>
        <servlet-class>servlet.web.ProvinceStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PAOProvinceStatus</servlet-name>
        <servlet-class>servlet.ajax.PAOProvinceStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebLogout</servlet-name>
        <servlet-class>servlet.web.WebLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramRecommendation</servlet-name>
        <servlet-class>servlet.web.ProgramRecommendation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgramDeployment</servlet-name>
        <servlet-class>servlet.web.ProgramDeployment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MobileLogin</servlet-name>
        <url-pattern>/MobileLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileDatabaseSync</servlet-name>
        <url-pattern>/MobileDatabaseSync</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebLogin</servlet-name>
        <url-pattern>/WebLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProblemLog</servlet-name>
        <url-pattern>/ProblemLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProvinceStatus</servlet-name>
        <url-pattern>/ProvinceStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PAOProvinceStatus</servlet-name>
        <url-pattern>/PAOProvinceStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebLogout</servlet-name>
        <url-pattern>/WebLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgramRecommendation</servlet-name>
        <url-pattern>/ProgramRecommendation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgramDeployment</servlet-name>
        <url-pattern>/ProgramDeployment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
